body{
    $colorTheme:#235E3D;
    background-image: url('../img/hojas.jpg');
    background-attachment: fixed;
    .logo{
        background: $colorTheme;
    }
    #menu{
        background: #333;
        ul{
            li{
                &:hover{
                     background: $colorTheme;
                }
               
            }
        }
    }
    #content{
        #post{
            .button-more{
                background: $colorTheme;
            }
        }
        
    }
}