* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.crearfix {
  float: none;
  clear: both;
}

body #id-selector {
  position: fixed;
  top: 40%;
  background: rgba(51, 51, 51, 0.5);
  width: 50px;
  height: 100px;
}
body #id-selector #to-red,
body #id-selector #to-green,
body #id-selector #to-blue {
  display: block;
  margin: 0 auto;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: solid 1px white;
  cursor: pointer;
}
body #id-selector #to-red {
  background-color: #CA3413;
}
body #id-selector #to-green {
  background-color: #235E3D;
}
body #id-selector #to-blue {
  background-color: #1F87C4;
}
body #global {
  width: 65%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 4px #ccc;
}
body #global header .logo {
  font-family: "Verdana", "Arial";
  font-size: 30px;
  color: white;
  letter-spacing: 4px;
  line-height: 80px;
  text-align: center;
  width: 385px;
  height: 80px;
  margin-bottom: 20px;
  float: left;
}
body #global header #menu {
  font-family: Helvetica, Arial;
  background: #333;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 20px;
}
body #global header #menu ul {
  line-height: 46px;
  list-style: none;
}
body #global header #menu ul li {
  height: 46px;
  display: inline-block;
  transition: all 0.3s;
}
body #global header #menu ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}
body #global #content-about {
  display: flex;
  justify-content: space-around;
}
body #global #content-about #Reloj {
  margin-top: 50px;
  width: 300px;
  height: 100px;
  border: dashed 4px gray;
  display: flex;
}
body #global #content-about #Reloj .reloj-content {
  margin: auto auto;
  font-family: Helvetica, Arial;
  font-weight: bold;
  font-size: 3rem;
}
body #global #content-about #box {
  margin-top: 50px;
  width: 65%;
}
body #global #content-about #box #acordeon {
  width: 100%;
}
body #global #content-about #sidebar {
  top: 0px;
  font-family: Helvetica, Arial;
  width: 31%;
  float: right;
  margin-left: 30px;
}
body #global #content-about #sidebar h4 {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 10px;
  color: #333;
  background: url("../img/lines.png") repeat-x;
}
body #global #content-about #sidebar h4 span {
  background-color: white;
  padding: 5px;
}
body #global #content-about #sidebar img {
  width: 100%;
}
body #global #content-about #sidebar p {
  font-size: 15px;
  text-align: justify;
}
body #global #content-about #sidebar form input {
  padding: 5px;
  border-radius: 2px;
  border: solid 1px #ccc;
  width: 80%;
  margin-bottom: 10px;
  box-shadow: 0px 0px 2px gray;
  margin-top: 5px;
}
body #global #content #post {
  padding: 9px;
  width: 60%;
  float: left;
  font-family: Helvetica, Arial;
}
body #global #content #post h2 {
  font-size: 30px;
  color: #333;
}
body #global #content #post .date {
  display: block;
  color: gray;
  margin-top: 5px;
}
body #global #content #post p {
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 22px;
  text-align: justify;
}
body #global #content #post .button-more {
  text-align: center;
  font-size: 14px;
  display: block;
  width: 85px;
  padding: 15px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 20px;
}
body #global #content #sidebar {
  font-family: Helvetica, Arial;
  width: 31%;
  float: right;
}
body #global #content #sidebar h4 {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 10px;
  color: #333;
  background: url("../img/lines.png") repeat-x;
}
body #global #content #sidebar h4 span {
  background-color: white;
  padding: 5px;
}
body #global #content #sidebar img {
  width: 100%;
}
body #global #content #sidebar p {
  font-size: 15px;
  text-align: justify;
}
body #global #content #sidebar form input {
  padding: 5px;
  border-radius: 2px;
  border: solid 1px #ccc;
  width: 80%;
  margin-bottom: 10px;
  box-shadow: 0px 0px 2px gray;
  margin-top: 5px;
}
body footer {
  font-family: Helvetica, Arial;
  color: white;
  height: 47px;
  background-color: rgba(51, 51, 51, 0.7);
  margin: 0 auto;
  width: 65%;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 47px;
}
body footer #subir {
  color: white;
  float: right;
}

/*# sourceMappingURL=main.css.map */
