*{
    margin:0px; 
    padding: 0px;
    list-style: none;
}
.crearfix{
    float: none;
    clear: both;
}
body{
    #id-selector{
        position: fixed;
        top:40%;
        background: rgba(51, 51, 51, 0.5);
        width: 50px;
        height: 100px;
        #to-red,
        #to-green,
        #to-blue{
            display: block;
            margin:0 auto;
            width: 25px;
            height: 25px;
            margin-left: 10px;
            margin-top: 5px;
            margin-bottom: 5px;
            border:solid 1px white;
            cursor: pointer;
        }
        #to-red{
            background-color: #CA3413;
        }
        #to-green{
            background-color: #235E3D;
        }
        #to-blue{
            background-color: #1F87C4;
        }
    }
    #global{
        width: 65%;
        margin:0 auto;
        margin-top:30px;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 0px 4px #ccc;
        header{
            
            .logo{
                font-family: "Verdana","Arial";
                font-size: 30px;
                color:white;
                letter-spacing: 4px;
                line-height: 80px;
                //background: #235E3D;
                text-align: center;
                width: 385px;
                height: 80px;
                margin-bottom: 20px;
                float: left;
            }
            #menu{
                font-family: Helvetica,Arial;
                background: #333;
                width: 100%;
                text-transform: uppercase;
                margin-bottom: 20px;
                ul{
                    line-height: 46px;
                    list-style: none;
                    li{
                        height: 46px;
                        display: inline-block;
                        transition: all 0.3s;
                        &:hover{
                             //background: #235E3D;
                        }
                        a{
                             display: block;
                             color:white;
                             text-decoration: none;
                             padding-left: 30px;
                             padding-right: 30px;
                        }
                    }
                }
            }
        }
        #content-about{
            display: flex;
            justify-content: space-around;
            #main-form{
                width: 100%;
                label{
                    display: block;
                    width: 60%;
                    float: left;
                    font-family: Helvetica,Arial;
                    font-size: 1.2rem;
                }
                input,
                select{
                    float: left;
                    width: 80%;
                    height: 25px;
                    margin-bottom: 10px;
                    margin-left: 10px;
                    border:solid 1px skyblue;
                }
                button{
                    height: 40px;
                    width: 80px;
                    background-color: #1F87C4;
                    margin-top:10px;
                    float: left;
                    cursor: pointer;
                    color:white;
                    font-size: 1rem;
                    font-weight: bold;
                    &:hover{
                        background-color: skyblue;
                    }
                }
            }
            #Reloj{
                margin-top:50px;
                width: 300px;
                height: 100px;
                border:dashed 4px gray;
                display: flex;
                
                .reloj-content{
                    margin: auto auto;
                    font-family: Helvetica,Arial;
                    font-weight: bold;
                    font-size: 3rem;

                }
            }
            #box{
                margin-top:50px;
                width: 65%;
                #acordeon{
                    width: 100%;
                }
            }
            #sidebar{
                top:0px;
                font-family: Helvetica,Arial;
                width: 31%;
                float: right;
                margin-left: 30px;
                h4{
                    margin-top:  50px;
                    margin-bottom: 20px;
                    text-align: center;
                    line-height: 10px;
                    color:#333;
                    background: url('../img/lines.png') repeat-x;
                    span{
                        background-color: white;
                        padding: 5px;
                    }
                }
                img{
                    width: 100%;
                }
                p{
                    font-size: 15px;
                    text-align: justify;
                }
                form input{
                    padding: 5px;
                    border-radius: 2px;
                    border: solid 1px  #ccc;
                    width: 80%;
                    margin-bottom: 10px;
                    box-shadow: 0px 0px 2px gray;
                    margin-top: 5px;
                }
            }
        }
        #content{
            
            
            #post{
                padding: 9px;
                width: 60%;
                float: left;
                //display: block;
                font-family: Helvetica,Arial;
                h2{
                    font-size: 30px;
                    color:#333;
                }
                .date{
                    display: block;
                    color:gray;
                    margin-top:5px;
                }
                p{
                    margin-top: 10px;
                    margin-bottom: 20px;
                    line-height: 22px;
                    text-align: justify;
                }
                .button-more{
                    text-align: center;
                    font-size: 14px;
                    display: block;
                    width: 85px;
                    padding: 15px;
                    //background: #235E3D;
                    color:white;
                    text-decoration: none;
                    margin-top:10px;
                    margin-bottom: 20px;
                    
                }
            }
            #sidebar{
                font-family: Helvetica,Arial;
                width: 31%;
                float: right;
                h4{
                    margin-top:  50px;
                    margin-bottom: 20px;
                    text-align: center;
                    line-height: 10px;
                    color:#333;
                    background: url('../img/lines.png') repeat-x;
                    span{
                        background-color: white;
                        padding: 5px;
                    }
                }
                img{
                    width: 100%;
                }
                p{
                    font-size: 15px;
                    text-align: justify;
                }
                form input{
                    padding: 5px;
                    border-radius: 2px;
                    border: solid 1px  #ccc;
                    width: 80%;
                    margin-bottom: 10px;
                    box-shadow: 0px 0px 2px gray;
                    margin-top: 5px;
                }
            }
        }
        
    }
    footer{
        font-family: Helvetica,Arial;
        color:white;
        height: 47px;
        background-color: rgba(51, 51,51,0.70);
        margin:0 auto;
        width: 65%;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 47px;
        #subir{
            color:white;
            float: right;
        }
    }

}
